<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>Demo app</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Java Securty Code Workshop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/users">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload">Import</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addUser">Add User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/file">File Upload</a>
            </li>
        </ul>
    </div>
</nav>
<br>

<div class="container">
    <h1>Create user </h1>
    <p>Comment field is optional. Username must me unique</p>
    <form th:action="@{/addUser}" th:object="${user}" method="post">
        <div class="row">
            <div class="col-sm">Username:</div><div class="col-sm"><input type="text" th:value="${user.username}" name="username" th:required="true"/></div>
        </div>
        <div class="row">
            <div class="col-sm">Firstname:</div><div class="col-sm"><input type="text" th:value="${user.firstname}" name="firstname" th:required="true"/></div>
        </div>
        <div class="row">
            <div class="col-sm">Lastname:</div><div class="col-sm"><input type="text" th:value="${user.lastname}" name="lastname" th:required="true"/></div>
        </div>
        <div class="row">
            <div class="col-sm">Password:</div><div class="col-sm"><input type="text" th:value="${user.password}" name="password" th:required="true"/></div>
        </div>
        <div class="row">
            <div class="col-sm">Comment:</div><div class="col-sm"><input type="text" th:value="${user.comment}" name="comment"/></div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<br>
<div class="alert alert-success" role="alert" th:if="${message != null}"><p class="text-center" th:text="${message}"></p></div>

<hr>

</body>
</html>